.NavigationTabs
{
    z-index: 3;

    width: 90%;
    height: 20%;
    margin-left: 5%;
    display: flex;

    border-top: 1px solid var(--bodyTextColour);
    border-bottom: 1px solid var(--bodyTextColour);
}