.NavigationTab
{
    width: 33.33%;
    height: 100%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    user-select: none;
    cursor: pointer;
    background-color: var(--borderBackgroundColour);
    overflow:hidden;

    border-left: 1px solid var(--borderBackgroundColour);
    border-right: 1px solid var(--borderBackgroundColour);

    transition: 0.3s ease;
}

.NavigationTab:hover
{
    width: 45%;

    background-color: var(--bodyBackgroundColourLight);

    border-left: 1px solid var(--bodyTextColour);
    border-right: 1px solid var(--bodyTextColour);
}

.NavigationTabSelected
{
    background-color: var(--bodyBackgroundColour);
}